body {
    
    min-height: 100vh;
    
}

@media (max-width: 480px) {
    .header {
        padding-top: 9%;
        display: flex;
        width: 100vw;
        height: 6vh;
        justify-content: space-around;
    }

    .headerText {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-weight: bold;
        padding-left: 10%;
        padding-right: 15%;
        color: #5F6C99;
        font-family: 'Raleway', sans-serif; font-size: 2.5em;
    }

    .main {
        width: 100vw;
        height: 100vh;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    }

    .middle {
        margin-top: 10%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .startReviewButton {
        margin-left: 10%;
        border-radius: 10px;
        background-color: #5F6C99; 
        border: none;
        color: white;
        padding: .75em;
        text-align: center;
        display: inline-block;
        font-size: 14px;
    }

    .saveButton {
        
        border-radius: 10px;
        float: right;
        word-wrap: break-word;
        background-color: #74C6AB; 
        border: none;
        color: white;
        margin-top: 10%;
        margin-left: 30vw;
        padding: .5em 1.5em;
        text-align: center;
        font-size: 1.2em;
    }

    .inputEng {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        color: gray;
        font-size: 15px;
        word-wrap: break-word;
        text-align: center; 
        max-width: 200px;
        display:flex;
        justify-content: center;

    }

    .saveContainer {
        margin-left: 20%;

    }

    div.textCard {
        width: 45vh;
        height: 30vh;
        margin-top: 10%;
        background-color: #ffffff;
        border-style: solid;
        border-width: 2px;
        border-color: gray;
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* don't get weird blue border when I type */
    textarea:focus {
        outline: none;
    }
    
    textarea {
        border: none;
        
    }

    .footer {
        margin-top: 10%;
        padding-top: 4%;
        padding-bottom: 6%;
        background: #5F6C99;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 1vh;
    }

    .footerText {
        font-size: 1.2em;
        color: white;
    }
}

@media (min-width: 481px) and (max-width: 790px) {
    .main {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    }

    .header {
        display: flex;
        flex-direction: row;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 20%;
    }

    .startReviewButton {
        width: 21%;
        font-size: 20px;
        border-radius: 0.6em;
        background-color: #606B9B;
        color: white;
        margin-right: 5em;
    }

    .headerText {
        font-family: Raleway, Raleway Black, sans-serif;
        font-weight: bolder;
        font-size: 70px;
        color: #606B9B;
    }

    .middle {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inputEng {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        color: gray;
        font-size: 14px;
        text-align: center;
        word-wrap: break-word;
        display:flex;
        justify-content: center;
    }

    .translatedText {
        word-wrap: break-word;
        padding-right: 2em;
        padding-left: 2em;
    }

    div.textCard {
        background-color: #ffffff;
        border-style: solid;
        border-width: 2px;
        border-color: gray;
        margin-left: 1em;
        margin-right: 1em;
        
        margin-bottom: 10%;
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35vh;
        width: 50vw;
    }

    .cardContainer {
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;

    }

    .saveContainer {
        margin-left: 77%;
      

    }

    .saveButton {
        border-radius: 10px;
        background-color: #74C6AB; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
    }

    /* don't get weird blue border when I type */
    textarea:focus {

        outline: none;
    }

    textarea {
        border: none;

    }

    .footer {
        width: 100vw;
        height: 3vh;
        font-size: 25px;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-top: 20%;
        background: #5F6C99;
        display: flex;
        justify-content: center;
        color: white;
    }



}

@media (min-width: 791px) {
    .main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    }

    .header {
        width: 80vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        padding-left: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .startReviewButton {
        width: 21%;
        font-size: 25px;
        border-radius: 0.6em;
        background-color: #606B9B;
        color: white;
        margin-right: 10em;
    }

    .headerText {
        font-family: Raleway, Raleway Black, sans-serif;
        font-weight: bolder;
        font-size: 70px;
        color: #606B9B;
    }

    .middle {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .inputEng {
        
        word-wrap: break-word;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        color: gray;
        font-size: 21px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .translatedText {
        word-wrap: break-word;
        padding-right: 1em;
        padding-left: 1em;
    }

    div.textCard {
        margin-left: 40px;
        font-size: 30px;
        background-color: #ffffff;
        border-style: solid;
        border-width: 2px;
        border-color: gray;
        height: 40vh;
        width: 100vw;
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cardContainer {
        margin-left: 10vw;
        margin-right: 10vw;
        width: 75vw;
        height: 50vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .saveContainer {
        margin-left: 80%;
        margin-bottom: 10%;
    }

    .saveButton {
        border-radius: 10px;
        background-color: #74C6AB; /* Green */
        border: none;
        color: white;
        padding: 6% 25% 6% 25%;
        text-align: center;
        font-size: 25px;
    }

    /* don't get weird blue border when I type */
    textarea:focus {
        outline: none;
    }

    textarea {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        color: gray;
        font-size: 30px;
        border: none;

    }

    .footer {
        font-size: 25px;
        padding-top: 2%;
        padding-bottom: 2%;
        background: #5F6C99;
        display: flex;
        justify-content: center;
        color: white;
        width: 100vw;        
    }

    /*ReviewCardMain CSS starts here*/


}

